.newSessionContainer
  %h1.newSessionTitle 合言葉は？
  .newSessionFormContainer
    = form_with(scope: :session, url: login_path, local: true ) do |f|
      .field
        = f.password_field :password, class: 'pass_field'
        .actions
          = f.submit '照合'

= debug(params) if Rails.env.development?
