.articleContainer {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  padding-bottom: 0;
  background-color: rgb(242, 242, 242);
}

.articleTitle {
  font-size: 30px;
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
  :link {
    color: #000;
  }
  :visited {
    color: #000;
  }
}

.articleMiniContent {
  font-size: 30px;
}

.articleTime {
  text-align: right;
}
