.articleContainer {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  padding-bottom: 0;
  background-color: rgb(242, 242, 242);
}

.articleTitle {
  font-size: 30px;
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
  :link {
    color: #000;
  }
  :visited {
    color: #000;
  }
}

.articleMiniContent {
  font-size: 30px;
}

.articleTime {
  text-align: right;
}

.pagination {
  justify-content: center;
  margin-top: 5%;
}

.newAritcleContainer {
  margin: 5%;
  text-align: center;
}

.showArticleContainer {
  margin: auto, 5%;
}

.showArticleTitle {
  text-align: center;
  margin: 5%;
}

.showArticleContent {
  text-align: center;
  margin: 5%;
  font-size: 20px;
}

.showArticleTime {
  text-align: center;
  margin: 5%;
}

.showButtons {
  text-align: center;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
