.headerContainer {
  box-shadow: 0 2px 4px;
  height: 8vh;
  width: 100%;
  display: flex;
}

.hederTitle {
  font-size: 35px;
  font-family: 'Comic Sans MS';
  text-align: center;
  margin: auto;
  :hover {
    text-decoration: none;
  }
  :link {
    color: #000;
  }
  :visited {
    color: #000;
  }
}

.logoutButton {
  height: 4vh;
  margin: 2vh;
  line-height: 3vh;
}
